body {
  background-image: url("../img/french-flag-waving-animated.gif");
  background-size: 960px 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.my-5 {
  text-align: center;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    font-size: 17px;
}

.topnav a.active {
    border-bottom: 2px solid red;
}

p {
  font-family: sans-serif;
  font-size: 18px;
}

ol {
  font-family: sans-serif;
  font-size: 18px;
}

b {
  font-size: 20px;
}

ul {
  font-family: sans-serif;
  font-size: 18px;
}

.column {
  padding: 15px;
}
